.dropdown-click,.dropdown-hover {
    position:relative;
    display:inline-block;
    cursor:pointer}
.dropdown-hover:hover .dropdown-content {
    display:block}
.dropdown-hover:first-child,.dropdown-click:hover {
    background-color:#ccc;
    color:#000}
.dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child {
    background-color:#ccc;
    color:#000}
.dropdown-content {
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1}

    .bar-block .dropdown-hover,.bar-block .dropdown-click {
        width:100%}
    .bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content {
        min-width:100%}
    .bar-block .dropdown-hover .button,.bar-block .dropdown-click .button {
        width:100%;
        text-align:left;
        padding:8px 16px}

        .bar .dropdown-hover,.bar .dropdown-click {
            position:static;
            float:left}

            